ProjectFiles/NetSolution/*.vs
ProjectFiles/NetSolution/bin
ProjectFiles/NetSolution/obj
ProjectFiles/NetSolution/Private
ProjectFiles/UserDefinedModule.xml

ProjectFiles/NetSolution/*.references
IDEVersion.txt

/*
!*.gitignore
!*.gitattributes
!*.optix
!*.optix.design
!Nodes/
!ProjectFiles/

!DesignTimeNodes/
